<!-- homepage -->

<div class="container">
  
  <form action="/anagrams" method="post">
    Submit a word:
    <input type="text" name="user_input">
    <input type="submit" value="Submit">
  </form>
  

</div>
